<div class="container-fluid container-fixed">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info alert-fixed" role="alert" ng-show="tmMsgCtrl.messages.inf.length">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span ng-repeat="infMsg in tmMsgCtrl.messages.inf">
                    <p class="message-content" ng-bind="infMsg"></p>
                </span>
            </div>
            <div class="alert alert-success alert-fixed" role="alert" ng-show="tmMsgCtrl.messages.scs.length">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                <span ng-repeat="infMsg in tmMsgCtrl.messages.scs">
                    <p class="message-content" ng-bind="infMsg"></p>
                </span>
            </div>
            <div class="alert alert-warning alert-fixed" role="alert" ng-show="tmMsgCtrl.messages.wrn.length">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                <span ng-repeat="infMsg in tmMsgCtrl.messages.wrn">
                    <p class="message-content" ng-bind="infMsg"></p>
                </span>
            </div>
            <div class="alert alert-danger alert-fixed" role="alert" ng-show="tmMsgCtrl.messages.err.length">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                <span ng-repeat="infMsg in tmMsgCtrl.messages.err">
                    <p class="message-content" ng-bind="infMsg"></p>
                </span>
            </div>
        </div>
    </div>
</div>